a {
    color: skyblue;
    text-decoration: none;
  }
  h1 {
    font-size:45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
  }
  ol{
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
  }
  #grid{
    display: grid;
    /* ol, div */
    grid-template-columns: 150px 1fr;
  }
  /* gird 안에 있는 ol */
  #grid ol{
    padding-left: 33px;
  }
  #grid #article{
    padding-left: 25px;
  }
  /* screen width < 550px */
  @media(max-width:550px){
    /* css설명 부분을 밑으로 가게 */
    #grid{
        display: block;
    }
    /* 구분선 삭제 */
    ol{
    border-right: none;
    }
    h1{
        border-bottom:none;
    }
}